.header{
    width: 100%;
    height: auto;
    background-color: rgb(43, 39, 39);
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
    margin: auto;
    background-position: center;
    background-size: cover;
    text-align: center;
    scroll-behavior: auto;
    text-align: left;
     /* z-index: -2; */
     overflow: scroll;


    
}
.ABC{
     
    height: 600px;
    background-color:rgb(51, 50, 50);
    margin: 100px;
    
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    padding-left: 100px;
    padding-top: 15px;
    
}
.Hello{
   position: absolute;
   width: 220px;
   height: 30px;
}

